html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#preloader {
  z-index: 9999;
  opacity: 0.6;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  display: none;
}

#preloader-content {
  text-align: center;
  position: absolute;
  left: calc(100% / 2 - 50px);
  top: calc(100% / 2 - 50px);
}

#preloader-content img {
  width: 70px;
}

#LogsWrap{
  display: none;
}

#Logs{
  Height:250px;
  background-color: #2e3440;
  color:#fff;
  font-family: Consolas, system-ui, Menlo, Monaco, "Liberation Mono", "Courier New", monospace;
  font-size: 14px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column-reverse;
  white-space: pre;
}

.container h3{
  color: rgba(0,0,0,.75);
  font-size: 1.25rem;
  letter-spacing: -0.03em;
  font-weight: 600;
}

.container h3 span{
  color: rgba(0,0,0,.55);
  font-size: 0.85rem;
  font-weight: 300;
}

.card .card-img-top{
  max-width: 100%;
}
.card .card-img-top img{
  width: 100%;
  height: 150px;
  object-fit:cover;
}

#DbWrap{
  display: none;
}
.card-text{
  font-size: 0.9rem;
}

.card-text .language-javascript{
  background-color: #fff;
}
.card-text a{
  cursor:pointer;
}

.modal .modal-body p{
  font-size: 0.8rem;
  line-height: 1.3rem;
}
.modal .modal-body pre{
  font-size: 0.8rem;
}
.modal .modal-body pre span{

}